body {
    height:665px;
    background-image: url(Img/modelo-inconsútil-con-las-cabezas-animales-lindas-fondo-sin-fin-134318329.jpg);
    background-repeat: repeat;
    background-size: 10rem;
}
h1,
h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-style: italic;
     
}
.naybar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.naybar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    background-color: rgba(146, 153, 250, 0.61);
}
.naybar ul li a{
    text-decoration: none;
    color: black;
    font-family: roboto, "sans-serif";
font-size: 1.2 rem;
}
.naybar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(11, 28, 182);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.naybar ul li:hover::before{
    width: 100%;
}
    .logo{
        width: 5%;
    height: 100px;
    }
#contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2,5%;
  
}
.header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgtitulo{
    width: 150px;
}

.producto{
    background-color:rgb(127, 146, 255) ;
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 2.5%;
}
#tituloprin{
    margin-left: 100px;
    margin-right: 100px;
}
#sexo,
#bueno{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ok{
    width: 90px;
    height: 30px;
    color: blue;
    background-color: rgba(63, 87, 157, 0.246);
}
#perro,
#conejo,
#pato,
#cerdo,
#vaca{
    width: 350px;
    height: 250px;
}
#toggle{
    position: relative;
    display: block;
    width: 20px;
    height: 30px;
    border-radius: 40px;
    background: #222;
  }
